name = "euchre-game-server"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

# D1 Database
[[d1_databases]]
binding = "DB"
database_name = "euchre-servee"
database_id = "0d5d974c-bccd-4f27-9857-b6c591173db2"
migrations_dir = "migrations"

# Durable Objects
[durable_objects]
bindings = [
  { name = "GAME_ROOM", class_name = "GameRoom" }
]

# Durable Object migrations
[[migrations]]
tag = "v1"
new_classes = ["GameRoom"]
